.bg{
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: url("https://c1.wallpaperflare.com/preview/357/51/799/sky-landscape-railway-indian-railways.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
form{
    background-color:whitesmoke;
    width: 70%;
}
.content{
  padding-top: 5%;
  padding-left: 17%;
    margin-top: 3%;
    margin-left: 5%;
    height:100vh;
    margin-bottom: 3%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    max-width: 90%;
    right: 0;
}
@media screen and (max-width:480px) {
    form{
        width: 95%;
    }
}
