
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .bg{
    margin-top: 0;
    background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
    height: 100vh;
  }
.f{
  margin-top: 5px;
}
  .btn-primary {
    display: block;
    width: auto;
    display: flex;
    display: inline;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;

  }
  .content{
    padding-top: 8%;
    padding-left: 3%;
    margin-left: 5%;
    height:100%;
    margin-bottom: 3%;
    max-width: 800px;
  }
  .train-list {
    /* margin-left: 5%; */
    width: 80%;
  }
  .train-list h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
 .m{
  padding-top: 5%;
 }
.n{
  margin-left: 5%;
}
