


<!-- <app-footer></app-footer> -->
  <app-navbar></app-navbar>
  <!-- <app-admin-navbar></app-admin-navbar> -->
<router-outlet></router-outlet>
<!-- <app-navbar *ngIf="!authService.isLoggedin() || (!authService.isAdmin && authService.isLoggedin())"></app-navbar>
<app-admin-navbar *ngIf="authService.isAdmin && authService.isLoggedin()"></app-admin-navbar>
<router-outlet></router-outlet> -->
<!-- <app-navbar *ngIf="!authService.isLoggedin() || (!authService.isAdmin && authService.isLoggedin())"></app-navbar>
<app-admin-navbar *ngIf="authService.isAdmin && authService.isLoggedin()"></app-admin-navbar>
<router-outlet></router-outlet> -->








