.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    right: 0;
}
/* .full{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://www.aacounty.org/sebin/l/a/page-background-default.jpg");background-repeat: no-repeat;
    background-size: 100% 100%} */