<app-navbar></app-navbar>
<div id="aboutus" class="section">
  <div class = "image">
     <img src="assets/images/logo.png">
  </div>
  <div class = "about-content shadow">
      <h2>About Us</h2>
      <span></span>
      <p>
        Welcome to JourneyHub! Your one-stop ticket booking solution for seamless travel experiences.
        Discover and book flights, trains, and buses effortlessly.
        Our dedicated team guarantees exceptional service, competitive prices, and personalized assistance.
        Start your next adventure with confidence and convenience. Experience the ease of travel with JourneyHub today!
      </p>
  </div>
</div>
