/* You can add global styles to this file, and also import other style files */
/* body{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://www.aacounty.org/sebin/l/a/page-background-default.jpg");background-repeat: no-repeat;
    background-size: 100% 100%} */