/* You can add global styles to this file, and also import other style files
body{
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: url("https://gumlet.assettype.com/swarajya%2F2022-02%2Fe1caf4d5-210c-40ee-8a3e-bc5e2e9a8fb6%2FVande_Bharat_train_image.png?q=75&auto=format%2Ccompress&w=576&dpr=1.3");
  background-repeat: no-repeat;
  background-size: 100% 100%
  }

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.page-header h1{
 padding: 16px 0;
 margin: 0;
}

.ml-1{
  margin-left: 1em !important;
}
.mt-1{
  margin-top: 1em !important;
}
